@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,500&display=swap');

:root {
    --simpleBorder: 2px dashed black;
    --box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    background-image: url('../img/bg/webtreats_wood-pattern2-512.jpg');
    background-repeat: repeat;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    z-index: 1
}

.siteheader {
    display: grid;
    justify-items: center;
    grid-template-rows: 5em;
    grid-template-columns: 1fr 1fr 1fr;
    position: sticky;
    height: 5em;
    background: white;
    box-shadow: var(--box-shadow);
    align-items: center;
    top: 0;
    transition: ease 1s;
    min-width: 50vh;
}

.siteheader nav {
    align-self: center;
}

.navmenu {
    display: flex;
    list-style: none;
    gap: 1em;
}


.navicons {
    display: none;
}

main {
    display: flex;
    justify-content: space-evenly;
    min-height: calc(100vh - 5em);
}

main > section {
    border-radius: 1em;
    background: white;
    margin: 2em 0;
    box-shadow: var(--box-shadow);
    transition: ease-in-out 500ms;
    padding: 1em;
}

.content {
    width: 60%;
    max-width: 100%;
    transition: width 500ms;
    position: relative;
    z-index: 1
}

.mobile {
    display: none;
}

@media only screen and (max-width: 992px) {
    header {
        width: 100%
    }

    .siteheader {
        top: 1em;
        z-index: 2;
        box-shadow: none;
    }

    .content {
        width: 100%;
    }

    .content > div {
        border-radius: 0;
    }

    .navicons {
        display: flex;
        list-style: none;
        gap: 50px;
    }

    .navmenu {
        position: fixed;
        display: flex;
        z-index: 2;
        top: 6rem;
        left: 0;
        width: 100%;
        flex-direction: column;
        gap: 0;
    }

    .navmenu.active {
        transition: ease 1s;
    }

    .navmenu li {
        text-align: center;
    }

    .active {
        max-height: 0;
    }

    .navmenu li {
        padding: 1em;
        background: white;
        box-shadow: rgba(0, 0, 0, 0.35) 0 -50px 36px -28px inset;
    }

    .content {
        border-radius: 0;
    }
}